---
# The scss file which include files from _sass/
---

/* comfortaa-regular - latin */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa Regular'), local('Comfortaa-Regular'),
       url('../fonts/comfortaa-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/comfortaa-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* end comfortaa-regular - latin */
h1 {
  font-family: Comfortaa;
}

/* merriweather-sans-regular - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Merriweather Sans'), local('MerriweatherSans-Regular'),
       url('../fonts/merriweather-sans-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/merriweather-sans-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-italic - latin */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Merriweather Sans Italic'), local('MerriweatherSans-Italic'),
       url('../fonts/merriweather-sans-v8-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/merriweather-sans-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-end */


@charset "utf-8";

$base-font-family: Merriweather Sans,Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  0.875rem;
$base-line-height: 1.5;

$text-color:   #333;
$link-color:   #0074d9;
$meta-color:   #a0a0a0;
$border-color: #ddd;

/*
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700);
 */ 
@import "color";
@import "base";
@import "layout";
@import "syntax";

